/* src/app/app.component.scss */
.container {
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
  margin-top: 20px;
  gap: 1em; /* Space between the radios */
}

mat-toolbar {
  justify-content: center;
}

a {
  word-break: break-all;
}
