/* src/app/app.component.scss */
.container {
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
  margin-top: 20px;
  gap: 1em; /* Space between the radios */
}

.large-button {
  padding: 16px 24px; /* Adjust padding */
  font-size: 18px; /* Adjust font size if needed */
  min-width: 150px; /* Set a minimum width if desired */
  // Add other styles as needed (e.g., height, line-height)
}

mat-toolbar {
  justify-content: center;
}

a {
  word-break: break-all;
}
